body{
    margin:auto;
}
h1{
    text-align: center;
}
table{
    margin:auto;
    margin-top:30px;
    text-align: center;
}
td{
    width: 180px;
    height:30px
}
#consigne{
    width: 500px;
    margin: auto;
    text-align: center;
}